body {
   background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASwAAACoCAMAAABt9SM9AAAAA1BMVEWQ7pBqm8gMAAAAR0lEQVR4nO3BAQEAAACCIP+vbkhAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAO8GxYgAAb0jQ/cAAAAASUVORK5CYII=");
background-color: #cccccc;
}


h1 {
color: Blue;
}

p {
  color: Green;
  }
p.inset {
  border-style: inset;
}

.custom-version1 {
  border: 1px solid black;
  outline-style: solid;
  outline-color: DarkBlue;
}
p {
    text-decoration: underline;
    text-decoration-color: red;
}
p.a {
    font-family: "Times New Roman", Times, serif;
}
