body {
   background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQrJhC9hN_eO6JTlQhMyajMpMm0JsW7aEHOihw_cigSs1Z9yTeRhg");
background-color: #cccc;
}


h1 {
color: Blue;
}

p {
  color: Green;
  }
